nzbget:
  # See `nzbget/defaults.yaml` for more settings that can be overridden
  lookup:
    user: nzbd

  # See `nzbget/files/nzbget.conf.jinja` for complete list of configuration
  # options.
  config:
    MainDir: /media/downloads
    Servers:
      - Host: news.example.com
        Port: 119
        Connections: 8

      - host: news.example.org
        Port: 563
        Username: username
        Password: password
        Level: 1
        Encryption: True
        Connections: 60

    Categories:
      - Name: TV
      - Name: Movies

  # List of scripts to install. See `nzbget/files/scripts/` for available
  # scripts.
  scripts:
    - permissions.sh
